<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>




<div>
<a href="/" class="btn btn-warning btn-lg active" role="button"> Main Page</a>
</div>


<h1>New gist</h1>

<%= render 'form' %>

<a href="/"> Back</a>
